<!--This macro creates the pagination for posts
    The macro takes in a pagination and endpoint argument. Endpoint is the page the user is supposed to be taken to when the page button is clicked
    The pagination, active and disabled classes are taken from bootstrap https://getbootstrap.com/docs/4.0/components/pagination/
    The pagination class makes the ul list horizontal instead of usual vertical
    The active class makes the button of the current page highlighted
    The disabled class makes that button not clickable
    If there is no previous/next page, the < or > navigation button becomes unclickable
    &laquo; is < symbol, and &raquo; is > symbol 
    Each <li> must have a corresponding <a>, so the pagination css works properly -->

{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled" {% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
                <li class = "active">
                    <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                </li>
            {% else %}
                <li> 
                    <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                </li>
            {% endif %}
        {% else %}
            <li class="disabled">
                <a href="#">
                    &hellip;
                </a>
            </li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled" {% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}