{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% import "_macros.html" as macros %}

{% block page_content%}
<div class="page-header">
    <h1>Hello, 
        {% if current_user.is_authenticated %}
            {{current_user.username}}
            <p>Pleased to meet you!</p>
        {% else %} 
            Stranger 
        {%endif%}
    </h1>
</div>

<div>
    {% if current_user.can(Permission.WRITE) %}
        {{wtf.quick_form(form)}}
    {% endif %}
    <h1>Posts</h1>
    <!-- Remember that posts and pagination data are already
         synchronized and processed in the route-->
    {% include '_posts.html' %}    
    <div>
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div> 
</div>
<p> The local time is {{moment(current_time).format("LLL")}}</p>


{%endblock%}

<!-- Some notes:
    1. "LLL" refers to the time zone and locale settings of the server, number
        of L determines the verbosity
    2. include directive is used to be able to use _posts.html template-->

    